/*style this using CSS GRID*/
/*https://css-tricks.com/snippets/css/complete-guide-grid/ */
/*https://alligator.io/css/css-grid-holy-grail-layout/ */
/*****NOT FLEXBOX***********/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background: #fff;
  width: 100%;
  min-height: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

li{
    list-style: none;  
}

.bolder {
    font-weight: 800;
}

.light {
    font-weight: 100;
}
.logo {
    grid-area: logo;
   
    padding: 2rem;
    font-size: 1.5rem;
    color: #fff;
}

.offset {
    grid-area: offset;
}

.right-nav {
    grid-area: rightNav;
    padding: 1rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-gap: 0rem;
}

.top-nav {
    background: #747ABF;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo offset rightNav";
    width: 100%;
}






   
.right-nav svg {
    height: 3rem;
   
}
img.profile-pic {
    height: 3rem;
    border-radius: 100%;
}

li.profile-name {
padding: 1rem;
}


.left-nav {
    background: #4E4D75;
    text-align: center;
    grid-template-rows: auto 1fr auto;
}
.left-nav svg {
    height: 3.5rem;
    margin: 1.5rem;
}





.social-stats-section {
    padding: 1rem;
    background-color: #8cffa0;
}

.social-stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
   
    width: 100%;
   
    padding: 10px;
}
.social-stats-container svg {
  height: 2rem;
  width: 2rem;
}

.icon {
    background: #747ABF;
    border-radius: 100%;
    text-align: center;
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    padding: 1rem;
}
.icon path {
    fill: #ffffff;
}


.left-nav{
  grid-area: leftNav;
}
.main-content {
  grid-area: main;
}

.container {
    display: grid;
    grid-template-columns: 10% 90%;
    
    grid-template-areas: "leftNav main" "leftNav main" "leftNav main";
    height: 100%;
    grid-template-rows: auto 1fr auto;
}
